.banner {
    position: relative;
    &__img {
        animation:  moveintop 1s ease-out;
        box-shadow: $box-shadow;
        width: 100%;
        height: 36rem;
        margin-bottom: 3rem;
    }
    &__welcome {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 400%);
        background-image: linear-gradient(to right bottom, $color-yellow, $color-orangered);
        -webkit-background-clip: text;
        -ms-background-clip: text;
        -moz-background-clip: text;
        color: transparent;
        font-size: 3rem;
        opacity: 0;
        transition: all .5s ease-in-out;
        backface-visibility: hidden;
    }
    
    &:hover &__img {
        transform: scale(.9);
        filter: blur(3px) brightness(30%);
    }
    &:hover  &__welcome {
        opacity: 1;
        transform: translate(-50%, -50%) skewX(-30deg);
    }
}